<%= stylesheet_link_tag "show_view/answer", :media => "all" %>

<h1>
  <strong>Title:</strong>
  <%= @article.title %>
</h1>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>Thank You!</p>
